<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<body>
	<nav class="main-header navbar navbar-expand navbar-white navbar-light" id="main-navbar" th:fragment="navbar">
    	<ul class="navbar-nav">
             <li class="nav-item">
                 <a class="nav-link" data-widget="pushmenu" href="fake_url">
                     <i class="fas fa-bars"></i>
                 </a>
             </li>
         </ul>

          <form class="form-inline ml-5">
              <div class="input-group input-group-sm">
                  <input class="form-control form-control-navbar" type="search" placeholder="Pesquisar" aria-label="Pesquisar" />
                  <div class="input-group-append">
                      <button class="btn btn-navbar" type="submit">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
              </div>
          </form>
          	
          <ul class="navbar-nav ml-auto">
              	<li class="nav-item">
                <img th:src="@{/images/tm.png}" alt="TM Automação" style="opacity: .9; max-height: 31px; width: auto"/>
              </li>
          </ul>
	</nav>
</body>
</html>