<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:aratu="http://aratu.tmautomacao.com.br">
	
<body>
	<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="layout-sidebar">	
		<a href="/" class="brand-link d-flex justify-content-center">
	        <img th:src="@{/images/logo_foxti.png}" alt="FoxTI" class="brand-image elevation-3" />
	        
	    </a>		
		<div class="sidebar">
		   	<nav class="mt-2">
	    		<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">	
		       		<li class="nav-item">
	        			<a th:href="@{/}" class="nav-link">
	        				<i class="nav-icon fa fa-tachometer-alt"></i>
	        				<p>Dashboard</p>
	      				</a>
		       		</li>
	       		
		       		<li class="nav-item has-treeview">
	        			<a href="#" class="nav-link">
		          			<i class="fas fa-database nav-icon"></i>		          			
		          			<p>
		          				Cadastros <i class="right fas fa-angle-left"></i>
				            </p>
	        			</a>
	       				<ul class="nav nav-treeview">		       				
			       			<li class="nav-item">
			        			<a th:href="@{/contratantes}" class="nav-link">
			        				<i class="nav-icon fas fa-university"></i>
			        				<p>Contratante</p>
			      				</a>
			       			</li>
       						<li class="nav-item">
		        				<a th:href="@{/rotas}" class="nav-link">
			        				<i class="nav-icon fas fa-route"></i>
			        				<p>Rota</p>
			      				</a>
			       			</li>
		       				<li class="nav-item">
		        				<a th:href="@{/tecnicos}" class="nav-link">
		        					<i class="nav-icon fas fa-user-cog"></i>
			        				<p>Técinico</p>
			      				</a>
			       			</li>			       			 
       						<li class="nav-item">
		        				<a th:href="@{/usuarios}" class="nav-link">
			        				<i class="nav-icon fas fa-user-alt"></i>
			        				<p>Usuário</p>
			      				</a>
			       			</li>
	         			</ul>
		       		</li>	
	
		       		<li class="nav-item has-treeview">
	         			<a href="#" class="nav-link">
		           			<i class="nav-icon fas fa-keyboard"></i>		          			
		          			<p>
		          				Ordem de serviço <i class="right fas fa-angle-left"></i>
				            </p>
	         			</a>
		         			
	         			<ul class="nav nav-treeview">	         		
				            <li class="nav-item">
				            	<a th:href="@{/ordens-servico}" class="nav-link">
			            			<i class="nav-icon fas fa-envelope-open-text"></i>
				            		<p>Gestão</p>
				            	</a>
				            </li>		       					       		
	         			</ul>
		       		</li>	
		       		
		       		<li class="nav-item has-treeview">
	         			<a href="#" class="nav-link">
		           			<i class="nav-icon fas fa-print"></i>
		           			<p>
		           				Relatórios 
		           				<i class="right fas fa-angle-left"></i>
	           				</p>		          
	         			</a>		
	         			<ul class="nav nav-treeview">
				            <li class="nav-item">
				            	<a th:href="@{/cotacoes}" class="nav-link">
				            		<i class="nav-icon fa fa-gavel"></i>
				            		<p>O.S. em aberto</p>
				            	</a>
				            </li>				          
				            <li class="nav-item">
				            	<a th:href="@{/trocas}" class="nav-link">
				            		<i class="nav-icon fa fa-exchange-alt"></i>
				            		<p>O.S. vencida</p>
				            	</a>
				            </li>				            				            				           
	         			</ul>
		       		</li>		       		
	    		</ul>
		   	</nav>	
		</div>
	</aside>
</body>
</html>