<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:aratu="http://aratu.tmautomacao.com.br">

<head>
	<title>Ordem de serviço</title>
</head>
<body>
	<div layout:fragment="conteudo">
		<div class="content-header mb-3">
			<div class="container-fluid">
				<div class="row">
					<div>
						<h1>Pesquisa ordem serviço</h1>
					</div>					
					<div class="ml-auto">					
						<a class="btn btn-sm btn-primary" th:href="@{/ordens-servico/novo}">
							<i class="fa fa-plus"></i> 
							<span>Cadastrar</span>
						</a>					
					</div>
				</div>				
			</div>
		</div>
		
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="text-center">NUMERO</th>
										<th class="text-center">STATUS</th>
										<th class="text-center">TIPO SERVIÇO</th>
										<th class="text-center">CONTRATANTE</th>
										<th class="text-center">TECNICO</th>
										<th class="text-center">ROTA</th>
										<th class="text-center">DT ABERTURA</th>
										<th class="text-center">DT VENCIMENTO</th>
										<th class="text-center">DT ATENDIMENTO</th>
										<th class="text-center">DT SAIDA</th>
										<th class="text-center">DT RETORNO</th>
										<th class="text-center">OBS</th>												
										<th class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="ordemServico : ${pagina.conteudo}">
										<td class="text-center" th:text="${ordemServico.numero}"></td>
										<td	class="text-center" th:text="${ordemServico.status.descricao}"></td>
										<td	class="text-center" th:text="${ordemServico.tipoServico.descricao}"></td>
										<td	class="text-center" th:text="${ordemServico.contratante.nome}"></td>	
										<td	class="text-center" th:text="${ordemServico.tecnico.nome}"></td>
										<td	class="text-center" th:text="${ordemServico.rota.nome}"></td>
										<td	class="text-center" th:text="${#temporals.format(ordemServico.dataAbertura, 'dd/MM/yyyy')}"></td>
										<td	class="text-center" th:text="${#temporals.format(ordemServico.dataVencimento, 'dd/MM/yyyy')}"></td>
										<td	class="text-center" th:text="${#temporals.format(ordemServico.dataAtendimento, 'dd/MM/yyyy')}"></td>
										<td	class="text-center" th:text="${#temporals.format(ordemServico.dataSaida, 'dd/MM/yyyy')}"></td>
										<td	class="text-center" th:text="${#temporals.format(ordemServico.dataRetorno, 'dd/MM/yyyy')}"></td>
										<td	class="text-center" th:text="${#temporals.format(ordemServico.dataRetorno, 'dd/MM/yyyy')}"></td>																		
										<td class="aling-center">
											<a class="btn  btn-primary  js-tooltip" title="Editar"
													th:href="@{/ordens-servico/{id}(id=${ordemServico.id})}"> 
												<i class="fas fa-pencil-alt"></i>
											</a>
											
											<a class="btn  btn-success  js-tooltip" title="Baixar"
													th:href="@{/ordens-servico/{id}/baixar(id=${ordemServico.id})}"> 
												<i class="fas fa-arrow-alt-circle-down"></i>
											</a>
											
											<a class="btn  btn-warning  js-tooltip" title="Reagendar"
													th:href="@{/ordens-servico/{id}/reagendar(id=${ordemServico.id})}"> 
												<i class="fas fa-calendar-alt"></i>
											</a>
											<a class="btn  btn-info  js-tooltip" title="Detalhes"
													th:href="@{/ordens-servico/{id}/reagendar(id=${ordemServico.id})}"> 
												<i class="fas fa-info-circle"></i>
											</a>
																																	
											<a class="btn  btn-danger  js-tooltip js-exclusao-btn"
													title="Excluir" href="#"
													data:url="@{/ordens-servico/{id}(id=${ordemServico.id})}"
													data:objeto="${ordemServico.numero}"> 
												<i class="fas fa-trash"></i>
											</a>
										</td>
									</tr>
									<tr th:if="${pagina.vazia}">
										<td colspan="3">Nenhuma rota cadastrada</td>
									</tr>
								</tbody>
							</table>					
						</div>												
						<aratu:pagination page="${pagina}"/>	
					</div>	
				</div>			
			</div>
		</div>
	</div>
</body>
</html>
