<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">	

<div class="aw-error-panel">
	<h1 class="aw-error-panel__code">
		<i class="fa  fa-location-arrow"></i> 400
	</h1>
	
	<h2 class="aw-error-panel__title">Problema com a requisição</h2>
	
	<div class="aw-error-panel__description">
		Desculpe, existe algum problema com os dados que você está tentando enviar para o servidor.
		Verfique se as informações digitadas estão corretas e tente novamente. Se o problema persistir,
		entre em contato com o nosso suporte.
		<br/><br/>
		<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
	</div>
</div>
</html>